<h1><%=@answer.text%></h1>
<h2>the answer has been chosen <%=@answer.counter%> times out of <%=@survey.counter%> times that the survey was taken.</h2>

<form action="/answers/<%=@answer.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="update_answer">Update answer text</label>
  <input type="text" name="update_answer" class="form-control">
  <button type="submit" class="btn">Update Answer</button>
</form>

<form action="/answers/<%=@answer.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn">Delete Answer</button>
</form>
